* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-family: Georgia;
  padding: 50px 20px;
  background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

header {
  background: CornflowerBlue;
  text-align: center;
  padding: 20px;
}

main {
  padding: 30px;
}

img {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: Azure;
}

h1,
h2 {
  padding: 20px 0;
}

.about-me {
  font-size: 20px;
  opacity: 0.5;
}

.title {
  font-weight: bold;
  padding: 10px 0;
}

ul {
  padding: 20px;
  line-height: 1.5;
}

h6 {
  padding: 80px 0 0;
}
