* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Tahoma;
}

h1,
h2 {
  padding: 20px 0;
}

img {
  height: 150px;
}

p {
  padding: 10px 0;
}

.description {
  font-size: 20px;
}

#cook-time {
  font-weight: bold;
}

.ingredients li {
  list-style: none;
}

p.time {
  color: gray;
  padding: 0;
}

.citation .external-link {
  color: SeaGreen;
}
